body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, strong {
    margin: 0;
}

header {
    height: 100px;
}

header nav {
    margin-top: 20px;
    float: right;
}

#main {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 600px;
}

#process {
    border: 1px solid black;
    padding: 0 10px;
}

#preview {
    padding: 0 10px;
    border: 1px solid black;
}

.tab {
    width: 100%;
    border:none;
    overflow: hidden;
    background-color: #eee;
}

.tab .tablink {
    border: none;
    outline: none;
    width: 70px;
    text-align: center;
    float: left;
    padding: 10px 0;
    transition: 0.2s ease;
    cursor: pointer;
}

.tab .tablink:hover {
    background-color: #ccc;;
}

.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    border: none;
    border-top: 1px solid black;
    height: 490px;
    padding: 0;
}

.tabcontent .sidebar {
    float: left;
    width: 200px;
    border: 1px solid black;
    height: 480px;
    padding: 5px;
}

.tabcontent .display {
    margin-left: 220px;
    border: 1px solid black;
    height: 100%;
}

.tabcontent .display .main-display {
    margin: 10px 10px 10px 10px;
    height: 380px;
    text-align: center;
}


.list-item {
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
}

.display .caption-field {
    margin: auto;
    width: 85%;
    text-align: center;
}

#local-upload {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

#local-upload form {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 50%;
    text-align: center;
    padding: 20px;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#preview #process-button {
    display: none;
    float: right;
    margin-top: 10px;
    background-color: #39459d;
    border: none;
    outline: none;
    color: white;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
}

#preview #process-button:hover {
    background-color: #272f69;
}

#list-images {
    overflow-y: scroll;
}

#list-images a {
    text-decoration: none;
    color: #272f69;
    cursor: pointer;
}

#list-images a:hover {
    text-decoration: underline;
}

#list-tables {
    overflow-y: scroll;
}

#list-tables a {
    text-decoration: none;
    color: #272f69;
    cursor: pointer;
}

#list-tables a:hover {
    text-decoration: underline;
}

.toolbar {
    z-index: 1;
    opacity: 30%;
    width: fit-content;
    margin: auto;
    position: relative;
    padding: 10px 20px;
    background-color: #C9D7DD;
    border-radius: 5px;
    transition: 0.1s ease;
}

.toolbar:hover {
    opacity: 90%;
}

.toolbar button {
    width: 50px;
    cursor: pointer;
}

.toolbar button i {
    font-size: 200%;
}

.edit-toolbar {
    display: none;
    z-index: 1;
    opacity: 30%;
    width: fit-content;
    margin: auto;
    position: relative;
    padding: 10px 20px;
    background-color: #C9D7DD;
    border-radius: 5px;
    transition: 0.1s ease;
}

.edit-toolbar:hover {
    opacity: 90%;
}

.edit-toolbar button {
    width: 50px;
    cursor: pointer;
}

.edit-toolbar button i {
    font-size: 200%;
}